################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TMD.Challenge.Application/bin/Debug/net8.0
/TMD.Challenge.Application/obj
